DB_HOST=dbhostexample
DB_PORT=dbportexample
DB_NAME=dbnameexample
DB_USER=dbuserexample
DB_PASSWORD=dbpasswordexample
DB_SSLMODE=dbmodeexample

PGHOST=pghostexample
PGPORT=pgportexample
PGDATABASE=pgdatabaseexample
PGUSER=pguserexample
PGPASSWORD=pgpasswordexample
PGSSLMODE=pgsslmodeexample